/dockerfiles
compose-creation.yml
Makefile
README.md
*.env
connect_ec2.sh
docker/production/nginx/ssl
compose.server.yaml
remove-artifacts.sh
docker-build.sh
docker-compose-down.sh
docker-push.sh
tasks.txt