/dockerfiles
compose-creation.yml
Makefile
README.md
*.env
connect_ec2.sh
docker/production/nginx/ssl
compose.server.yaml
destroy-development-artifacts.sh
destroy-production-artifacts.sh
destroy-artifacts-on-server.sh
docker-build.sh
development-down.sh
docker-push.sh
tasks.txt
scrap.txt