/dockerfiles
compose-creation.yml
Makefile
README.md
*.env
connect_ec2.sh
docker/production/nginx/ssl
compose.server.yaml
remove-development-artifacts.sh
remove-production-artifacts.sh
docker-build.sh
development-down.sh
docker-push.sh
tasks.txt